body {
    background-color: #c4e9d6;
    background-image: url("Resources/grass-bottom-not-as-light.png");
    background-repeat: no-repeat;
    background-size: 1500px 1600px;
    min-height: 1000px;
    min-width: 900px;
    margin-top: -35px;
}

h1 {
    text-align: center;
    font-family: Garamond, 'Times New Roman', serif;
    font-size: 100pt;
    margin-bottom: 35px;
}

.continue {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-right: 2%;
    margin-right: 6%;
    background-color: #70c699;
    background-image: url("Resources/tree-border.png");
    background-size: 100% 750px;
    min-height: 750px;
}

.newgame {
    float: right;
    width: 40%;
    margin-right: 5%;
    padding-right: 2%;
    background-color: #70c699;
}

